#board > #home > h2 {
  display: block;
}
#board > #home > div.detail {
  padding-left: 13%;
  display: block;
}
#board > #home > div.detail > h3 {
  font-size: 70px;
}
#board > #home > div.detail > p.text {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
}
