@keyframes type {
    from{box-shadow: inset -3px 0px 0px #fff;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}

.not_found_wrap{background: #343a40; font-family: 'Lato', sans-serif; color: #fff; margin: 0; display: table; width: 100%; text-align: center; position: fixed; left: 0; z-index: 99999; transition: 1s; top: -67px; height: 0vh;}
.fof{display: table-cell; vertical-align: middle;}
.fof_h1{font-size: 50px; display: inline-block; padding-right: 12px; animation: type .5s alternate infinite;}

@media screen and (max-width: 1340px) {
    .not_found_wrap{top: 0; height: 100vh;}
}