#fullpage .section#project .result_board > .content{width: 90%; height: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#fullpage .section#project .result_board > .content > p{font-size: 5.6rem; margin-bottom: 60px; font-weight: bold;}
#fullpage .section#project .result_board > .content > div{width: 100%; max-height: calc(100% - 126px); box-shadow: 5px 5px 40px 3px #222; overflow: hidden;}
#fullpage .section#project .result_board > .content > div > img{width: 100%;}
