#fullpage .section#about .result_board > div.front_end > .wrap {
  width: 560px;
}
#fullpage .section#about .result_board > div.front_end > .wrap .icon {
  width: 500px !important;
  margin: 0 auto;
}
#fullpage .section#about .result_board > div.front_end > .wrap .icon > div {
  margin-bottom: 25px;
}
#fullpage
  .section#about
  .result_board
  > div.front_end
  > .wrap
  .icon
  > div:nth-of-type(5) {
  margin-bottom: 0;
}
#fullpage
  .section#about
  .result_board
  > div.front_end
  > .wrap
  .icon
  > div:nth-of-type(6) {
  margin-bottom: 0;
}
#fullpage
  .section#about
  .result_board
  > div.front_end
  > .wrap
  .icon
  > div:nth-of-type(7) {
  margin-bottom: 0;
}
#fullpage
  .section#about
  .result_board
  > div.front_end
  > .wrap
  .icon
  > div:nth-of-type(8) {
  margin-bottom: 0;
}
#fullpage
  .section#about
  .result_board
  > div.front_end
  > .wrap
  .icon
  > div:nth-of-type(9) {
  margin-bottom: 0;
}
#fullpage
  .section#about
  .result_board
  > div.front_end
  > .wrap
  .icon
  > div:nth-of-type(10) {
  margin-bottom: 0;
}
#fullpage .section#about .result_board > div.front_end > .wrap .desc {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}
