@charset "utf-8";

/*#fullpage*/
#fullpage{width: 100%;}
#fullpage .section{width: 100%; position: relative;}
#fullpage .section .result_board{position: absolute; top: 30px; right: 180px; height: calc(100% - 60px); z-index: 1;}

/*#fullpage .background*/
#fullpage .section .background{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
#fullpage #home .background{background: url(./img/background_home.jpeg) no-repeat center; background-size: cover;}
#fullpage #about .background{background: url(./img/background_about.jpeg) no-repeat center; background-size: cover;}
#fullpage #second .background{background: url(./img/background_second.jpeg) no-repeat center; background-size: cover;}
#fullpage #third .background{background: url(./img/background_third.jpeg) no-repeat center; background-size: cover;}
#fullpage #fourth .background{background: url(./img/background_fourth.jpeg) no-repeat center; background-size: cover;}

/*.main #fullpage pagination*/
#fp-nav.fp-right{right: -85px; transition: .5s; transition-timing-function: ease;}
#fp-nav ul li, .fp-slidesNav ul li{margin: 37px; width: 200px; height: 20px;}
#fp-nav ul li .fp-tooltip.fp-right{overflow: visible; opacity: 1; left: 0; width: 0; font-size: 1.7rem; transition: 1s; color: #000;}
#fp-nav ul li a span, .fp-slidesNav ul li a span, #fp-nav ul li a.active > span{width: 5px; height: 5px; background: #000; transition: 1s; border-radius: 100% !important;}
#fp-nav ul li:hover a.active span, #fp-nav ul li a.active span, .fp-slidesNav ul li:hover a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a span, #fp-nav ul li a span, .fp-slidesNav ul li:hover a span, .fp-slidesNav ul li a span {height: 5px; width: 5px;  margin: -6px 0 0 -6px; border-radius: inherit;}
#fp-nav > ul > li > div{transition: .5s !important;}   