#board > #project > div.detail .slide{width: 100%; padding-bottom: 5px; font-family: 'Noto Sans KR', sans-serif;}
#board > #project > div.detail .slide .name{font-size: 3rem; font-weight: 700; margin-bottom: 14px;}
#board > #project > div.detail .slide .skill{font-size: 2rem; font-weight: 700; margin-bottom: 14px;}
#board > #project > div.detail .slide .desc{font-size: 1.7rem; margin-bottom: 0; font-weight: 500;}
#board > #project > div.detail .slide .desc:last-of-type{font-size: 1.7rem; margin-bottom: 20px;}
#board > #project > div.detail .slide .link > a{border: 1px solid rgba(0, 0, 0, .5); border-radius: 6px; padding: 10px 10px; display: inline-block; background: rgba(0, 0, 0, .5); color: #fff; margin-right: 6px;}
#board > #project > div.detail .slide .link > a:first-of-type{margin-left: 1px;}
#board > #project > div.detail .slide .link > a:last-of-type{margin-right: 0;}

#board > #project > div.detail .slide .link > span{border: 1px solid rgba(0, 0, 0, .5); border-radius: 6px; padding: 10px 10px; display: inline-block; background: rgba(0, 0, 0, .5); color: #fff; margin-right: 6px;}
#board > #project > div.detail .slide .link > span:first-of-type{margin-left: 1px;}
#board > #project > div.detail .slide .link > span:last-of-type{margin-right: 0;}